body {
  background-image: url(https://st2.depositphotos.com/1007879/7786/i/450/depositphotos_77863812-stock-photo-time-warp-traveling-in-space.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.hero {
  display: flex;
}

h1 {
  font-size: 80px;
}

#search {
  width: 20rem;
  height: 3rem;
}

#dropbtn {
  width: 8rem;
  height: 3rem;
}

#search-btn {
  width: 8rem;
  height: 3rem;
}

#loading {
  width: 2rem;
  height: 2rem;
  border: 5px solid #f3f3f3;
  border-top: 6px solid #9c41f2;
  border-radius: 100%;
  margin: auto;
  display: none;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
